<div class="container survey">
    <ng-include src="'app/pages/client/templates/head.html'"></ng-include>
    <div class="portlet-body form survey">
        <div class="portlet-body">
            <div class="form-wizard">
                <div class="form-body">
                    <ul class="nav nav-pills nav-justified steps">
                        <li ng-repeat="stepName in vm.stepsNames" ng-class="vm.stepsActions[$index]">
                            <a data-toggle="tab" class="step">
                                <span class="number"> {{ $index + 1}} </span>
                                                            <span class="desc">
                                                                <i class="fa fa-check"></i> {{ stepName | translate }} </span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content form">
                        <ng-include src="'app/pages/survey/templates/step1.html'"></ng-include>
                        <ng-include src="'app/pages/survey/templates/step2.html'"></ng-include>
                        <ng-include src="'app/pages/survey/templates/step3.html'"></ng-include>
                        <ng-include src="'app/pages/survey/templates/step4.html'"></ng-include>
                        <ng-include src="'app/pages/survey/templates/step5.html'"></ng-include>
                        <ng-include src="'app/pages/survey/templates/step6.html'"></ng-include>
                        <ng-include src="'app/pages/survey/templates/step7.html'"></ng-include>


                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row" ng-if="vm.step < 7">
                <div class="col-md-2">
                    <button type="button" class="btn default" ng-click="vm.back()" ng-if="vm.step != 0">{{
                        'SURVEY-HEADERS.BACK' | translate }}
                    </button>
                </div>
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success" ng-click="vm.next()" ng-if="vm.step != 5">{{
                        'SURVEY-HEADERS.NEXT' | translate }}
                    </button>
                    <button type="submit" class="btn btn-success" ng-click="vm.send()" ng-if="vm.step == 5">{{
                        'HEADERS.SAVE' | translate }}
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>