$inputs-color: #66cc66;
$progress-color: #36c6d3;
$panels-bg: #f0eeef;
$cross-color: #D5BFC1;
$cross-color-hov: #827475;
$error: #E26A6A;
$steps: 5;
$one-step: 100%/$steps;
.description {
  padding: 15px;
}

.survey {
  input, select {
    background: #ccc;
  }
  .intl-tel-input {
    display: block;
  }
  .right {
    text-align: right;
  }
  .portlet {
    &.light {
      &.bordered {
        border: none;
      }
    }
  }

  &.form {
    .help-block-error {
      color: $error;
    }
    .form-actions {
      background: #fff;
      border: none;
    }
  }
  .portlet-body {
    background: #fff;
    padding-top: 80px;
    .alert-danger {
      .glyphicon-remove {
        display: none;
        float: right;
        position: relative;
        top: -5px;
        color: $cross-color;
        &:hover {
          color: $cross-color-hov;
          cursor: pointer;
        }
      }
    }
    .help-block {
      display: none;
      &.help-block-error {
        display: block;
      }
    }

    .btn-header {
      font-weight: bold;
      margin-bottom: 20px;
      color: #4a4a4a;
    }
    .panel {
      &.warning-over {
        padding-left: 50px;
      }
      position: relative;
      .form-control {
        &.short-num {
          display: inline-block;
        }
      }
      .warning {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        color: #fff;
        font-size: 120%;
        background: $inputs-color;
        width: 40px;
        margin: 0 60px 0 0;
        padding-top: 0.8%;
        text-align: center;

      }
      .row {
        padding-bottom: 10px;
      }
      &.top {
        border-bottom: 1px dashed #979797;
        padding: 20px 15px;
      }
      &.step0 {
        background: url(img/bitmap@2x.png) no-repeat center center;
        background-size: 20%;
      }
      padding: 10px 15px;
      .short-num {
        max-width: 50px;
      }
      .input-horiontal {
        padding: 0 0 0 33px;
        .form-control {
          display: inline-block;
          margin-left: 15px;
        }
      }
    }
  }
  .tab-content {
    padding: 20px;
  }
  .nav {
    li {
      a {
        padding: 10px 4px;
      }
    }
  }

  .birthday {
    .control-label {
      margin-right: 15px;
    }
  }
}

.item-selected {
  color: $inputs-color;
}

.sb-date-select {
  .col-md-1 {
    padding: 0 5px 0 0;
  }
  .col-md-2 {
    padding: 0;
  }
}


.subdetails {
  font-weight: normal;
  text-transform: none;
  &.selected {
    color: $inputs-color;
  }
}

.uib-day {
  .btn {
    border: none;
  }
}

@for $i from 1 through $steps {
  .step#{$i} {
    width: $i * $one-step;
  }
}

.form {
  .survey {
    max-width: 900px;
    margin: 0 auto;
  }
  .icheck-inline {
    padding-bottom: 10px;
    &.inline {
      display: inline-block;
    }
  }
  label {
    font-weight: bold;
    text-transform: uppercase;
    .icheck {
      display: none;
    }
    .fa {
      font-size: 20px;
      color: $inputs-color;
      width: 30px;
    }

  }
}

