<div class="portlet-body form survey">

    <h3 class="caption">{{ 'SURVEY-HEADERS.CAPTION' | translate }}</h3>

    <div class="portlet-body">
        <div class="form-wizard">
            <div class="form-body">
                <ul class="nav nav-pills nav-justified steps">
                    <li ng-repeat="stepName in vm.stepsNames" ng-class="vm.stepsActions[$index]">
                        <a data-toggle="tab" class="step">
                            <span class="number"> {{ $index + 1}} </span>
                                                            <span class="desc">
                                                                <i class="fa fa-check"></i> {{ stepName | translate }} </span>
                        </a>
                    </li>
                </ul>
                <div id="bar" class="progress progress-striped" role="progressbar">
                    <div class="progress-bar progress-bar-success" ng-class="vm.stepBar"></div>
                </div>
                <div class="tab-content form-horizontal">
                    <div class="tab-pane active" ng-if="vm.step == 0">
                        <div class="form-group  row">
                            <label class="col-md-3 control-label">{{ 'SURVEY-HEADERS.PURPOSE' | translate
                                }}</label>

                            <div class="col-md-9">
                                <div class="input-group">
                                    <div class="icheck-inline" ng-repeat="item in vm.purpose">
                                        <label>
                                            <input type="checkbox" class="icheck" ng-model="item.selected">
                                            <i class="fa fa-circle-o" ng-if="!item.selected"></i>
                                            <i class="fa fa-check-circle" ng-if="item.selected"></i>
                                            <span class="subdetails">{{ item.name | translate }}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" ng-if="vm.step == 1">
                        <div class="form-group  row">
                            <label class="col-md-3 control-label">{{ 'SURVEY-HEADERS.GENDER' | translate
                                }}</label>

                            <div class="col-md-2">
                                <div class="input-group">
                                    <div class="icheck-inline" ng-repeat="item in vm.gender">
                                        <label ng-click="vm.changeGender($index)">
                                            <input type="radio" name="radio1" ng-value="item"
                                                   ng-model="vm.survey.answerGroups[1].answerText[0]"
                                                   class="icheck">
                                            <i class="fa fa-circle-o" ng-if="!vm.selectedGender[$index]"></i>
                                            <i class="fa fa-check-circle" ng-if="vm.selectedGender[$index]"></i>
                                            <span class="subdetails"
                                                  ng-class="{ 'item-selected': vm.selectedGender[$index]}">{{ item | translate }}</span>
                                        </label>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group  row birthday">
                            <label class="col-md-3 control-label">{{ 'SURVEY-HEADERS.BIRTHDAY' | translate
                                }}</label>

                            <div class="form-group">
                                <div sb-date-select sb-select-class="form-control" ng-model="vm.survey.answerGroups[2].answerText[0]"></div>
                            </div>

                        </div>
                        <div class="form-group  row">
                            <label class="col-md-3 control-label">{{ 'SURVEY-HEADERS.WEIGHT' | translate
                                }}</label>

                            <div class="col-md-2">
                                <input type="text" class="form-control  numbers" valid-number
                                       ng-model="vm.survey.answerGroups[3].answerText[0]">
                            </div>
                            <div class="col-md-2">{{ UNITS.KG | translate }}</div>
                        </div>
                        <div class="form-group  row">
                            <label class="col-md-3 control-label">{{ 'SURVEY-HEADERS.HEIGHT' | translate
                                }}</label>

                            <div class="col-md-2">
                                <input type="text" class="form-control numbers" valid-number
                                       ng-model="vm.survey.answerGroups[4].answerText[0]">
                                <div class="col-md-2">{{ UNITS.CM | translate }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" ng-if="vm.step == 2">
                        <p>{{'SURVEY-HEADERS.ACTIVITYNOTE' | translate}}</p>

                        <div class="form-group  row">
                            <label class="col-md-3 control-label">{{ 'SURVEY-HEADERS.ACTIVITY' | translate
                                }}</label>

                            <div class="col-md-9">
                                <div class="input-group">
                                    <div class="icheck-inline" ng-repeat="item in vm.activity">
                                        <label ng-click="vm.changeActivity($index)">
                                            <input type="radio" class="icheck" ng-model="vm.survey.answerGroups[5].answerText[0]">
                                            <i class="fa fa-circle-o" ng-if="!vm.selectedActivity[$index]"></i>
                                            <i class="fa fa-check-circle" ng-if="vm.selectedActivity[$index]"></i>
                                            <span class="subdetails">{{ item | translate }}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" ng-if="vm.step == 3">
                        <p>{{ 'SURVEY-HEADERS.DIRECTIVE' | translate }}</p>

                        <div class="form-group  row">
                            <label class="col-md-3 control-label">{{ 'SURVEY-HEADERS.TEST' | translate }}</label>

                            <div class="col-md-9">
                                <div class="input-group">
                                    <div class="icheck-inline" ng-repeat="item in vm.bodytype">
                                        <label ng-click="vm.changeBodyType($index)">
                                            <input type="radio" class="icheck" ng-model="vm.survey.answerGroups[6].answerText[0]">
                                            <i class="fa fa-circle-o" ng-if="!vm.selectedBodyType[$index]"></i>
                                            <i class="fa fa-check-circle" ng-if="vm.selectedBodyType[$index]"></i>
                                            <span class="subdetails">{{ item | translate }} </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active" ng-if="vm.step == 4"><p>{{ 'SURVEY-HEADERS.NOTES' | translate }}</p>
                        <div class="form-group  row">
                            <div class="col-md-9">
                                <textarea class="form-control" ng-model="vm.survey.answerGroups[7].answerText[0]"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-4">
                    <button type="button" class="btn default" ng-click="vm.back()">Back</button>
                    <button type="submit" class="btn green" ng-click="vm.next()" ng-if="vm.step != 4">Next</button>
                    <button type="submit" class="btn green" ng-click="vm.send()" ng-if="vm.step == 4">Submit</button>
                </div>
            </div>
        </div>

    </div>
</div>