$inputs-color: #66cc66;
$progress-color: #36c6d3;
$panels-bg: #f0eeef;
$cross-color: #D5BFC1;
$cross-color-hov: #827475;
$steps: 5;
$one-step: 100%/$steps;
.description {
  padding: 15px;
}

.survey {
  .right {
    text-align: right;
  }
  .portlet {
    &.light {
      &.bordered {
        border: none;
      }
    }
  }

  &.form {
    .form-actions {
      background: #fff;
      border: none;
    }
  }
  .portlet-body {
    background: #fff;
    padding-top: 80px;
    .alert-danger {
      .glyphicon-remove {
        display: none;
        float: right;
        position: relative;
        top: -5px;
        color: $cross-color;
        &:hover {
          color: $cross-color-hov;
          cursor: pointer;
        }
      }
    }
    .help-block {
      display: none;
      &.help-block-error {
        display: block;
      }
    }

    .glyphicon-star {
      padding: 15px;
      margin: -10px 20px 0 10px;
      position: relative;
      top: -10px;
    }
    .btn-header {
      position: relative;
      left: -25px;
      margin-bottom: 10px;
    }
    .panel {
      &.warning-over {
        padding-left: 50px;
      }
      position: relative;
      .form-control {
        &.short-num {
          display: inline-block;
        }
      }
      .warning {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        color: #fff;
        font-size: 120%;
        background: $inputs-color;
        width: 40px;
        margin: 0 60px 0 0;
        padding-top: 0.8%;
        text-align: center;

      }
      .row {
        padding-bottom: 10px;
      }
      background: $panels-bg;
      padding: 10px 15px;
      .short-num {
        max-width: 50px;
      }
      .input-horiontal {
        padding: 0 0 0 33px;
        .form-control {
          display: inline-block;
          margin-left: 15px;
        }
      }
    }
  }
  .tab-content {
    padding: 20px;
  }
  .nav {
    li {
      a {
        padding: 10px 4px;
      }
    }
  }
  .subdetails {
    font-weight: bold;
  }
  .birthday {
    .control-label {
      margin-right: 15px;
    }
  }
}

.item-selected {
  color: $inputs-color;
}

.sb-date-select {
  .col-md-1 {
    padding: 0;
  }
  .col-md-2 {
    padding: 0;
  }
}

.progress-striped.progress-bar-success {
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);

}

.progress-bar-success {
  background-color: $progress-color;
}

.subdetails {
  font-weight: normal;
  text-transform: none;
  &.selected {
    color: $inputs-color;
  }
}

.uib-day {
  .btn {
    border: none;
  }
}

@for $i from 1 through $steps {
  .step#{$i} {
    width: $i * $one-step;
  }
}

.form {
  .survey {
    max-width: 900px;
    margin: 0 auto;
  }
  .icheck-inline {
    padding-bottom: 10px;
    &.inline {
      display: inline-block;
    }
  }
  label {
    font-weight: bold;
    text-transform: uppercase;
    .icheck {
      display: none;
    }
    .fa {
      font-size: 20px;
      color: $inputs-color;
      width: 30px;
    }

  }
}

