<div class="col-md-12 receipt-view receipt">
    <div class="portlet box color-view bg-blue-dark">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase">{{ formCtrs.name | translate }}</span>
            </div>
            <div class="tools">
                <a ui-sref="/receipts.edit({ receiptID: vm.id })"><span class="glyphicon glyphicon-edit"></span></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-4">
                        <img ng-src="{{vm.Receipt.photo}}" alt="" class="img-prev">

                        <div class="panel panel-default">
                            <ul class="form-icon-container">
                                <li ng-repeat="item in vm.Receipt.dailyCalories">
                                    <span class="amount">{{item.value}}</span>
                                    <span class="units" ng-if="$index == 0">{{ 'UNITS.ENERGY' | translate }} </span>
                                    <span class="units" ng-if="$index > 0">{{ 'UNITS.GRAM' | translate }} </span>
                                    <span class="dailyCal-title">{{ 'HEADERS.'+item.type | translate }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="well subdata">
                            <ul class="form-icon-container options">
                                <li>
                                    <span class="icon-speedometer"></span>
                                    <span class="data">{{ vm.Receipt.timeCookMinutes}} {{ 'TIME.MIN' | translate }}</span>
                                </li>
                                <li>
                                    <img src="/img/vegetarian.png" alt="">
                                    <span class="data">{{ vm.Receipt.servesCount}} {{ 'UNITS.SERVERS' | translate }}</span>
                                </li>
                                <li>
                                    <img src="/img/chef-cooking.png" alt="">
                                    <span class="data">{{ 'LEVELS.'+vm.Receipt.difficult | translate }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="well ingredients-list">
                            <div class="panel-title">
                                <span class="icon-calendar"></span>
                                <span class="title">{{ 'HEADERS.INGREDIENTS' | translate }}</span>
                            </div>
                            <ul class="ingr">
                                <li ng-repeat="ingr in vm.Receipt.ingredients">
                                    <input type="checkbox" id="ingr1" ng-model="check.value1">
                                    <label for="ingr1" ng-class="{'cross' : check.value1}">
                                        <span class="cover" ng-class="{'on' : check.value1}"></span>
                                        <span class="title">{{ ingr.name}}</span>
                                        <span class="amount">{{ ingr.value}} {{ 'UNITS.'+ingr.unit | translate }}</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="portlet-body">
                            <div class="row static-info align-reverse header" ng-bind-html="vm.header"></div>
                            <div class="row static-info align-reverse">
                                <div class="col-md-12">
                                    <div class="panel-body">{{ vm.Receipt.shortDescription }}</div>
                                </div>
                            </div>
                            <div class="row static-info align-reverse" ng-repeat="tool in vm.Receipt.inventory">
                                <div class="col-md-12">
                                    <div class="panel-body">{{ tool }}</div>
                                </div>
                            </div>
                            <h2>{{ 'HEADERS.STEPS' | translate }}</h2>

                            <div class="steps" ng-repeat="step in vm.Receipt.steps">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="step-panel" ng-class="{'selected' : step.selected}">
                                            <div class="step-panel-num">
                                                {{ $index + 1 }}
                                            </div>
                                            <div class="step-panel-done">
                                                <input type="checkbox" ng-model="step.selected"
                                                       id="{{step.stepNumber}}">
                                                <label for="{{step.stepNumber}}">
                                                    <span class="cover"></span>
                                                    {{ 'HEADERS.DONE' | translate }}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="step-timing">
                                            <span class="icon-speedometer"></span>
                                            {{ step.timeCookMinutes }} {{ 'TIME.MIN' | translate }}
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <table class="imgs-set">
                                            <tr>
                                                <td ng-repeat="img in step.photos" class="step-img-over">
                                                    <img ng-src="{{img}}" alt="" class="step-img">
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="row static-info align-reverse">
                                            <div class="col-md-12">
                                                <div class="panel-body">{{ step.description }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
