<div class="tab-pane active" ng-if="vm.step == 4">
    <div class="panel top">
        {{ 'SURVEY-HEADERS.PRE5' | translate }}
    </div>
    <div class="alert alert-danger" ng-if="vm.check5">
        <span class="glyphicon glyphicon-remove"></span>
        {{ 'SURVEY-HEADERS.ERR5' | translate }}
    </div>
    <form class="form-horizontal" action="#">
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'USERS.FIO' | translate }}</label>

                <div class="col-md-4">
                    <input class="form-control input-circle" type="text"
                           ng-model="vm.survey.answerGroups[8].answerText[0]"
                           placeholder="{{ 'USERS.NAME' | translate }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'USERS.EMAIL' | translate }}</label>

                <div class="col-md-4">
                    <div class="input-group">
                                                                    <span class="input-group-addon input-circle-left">
                                                                        <i class="fa fa-envelope"></i>
                                                                    </span>
                        <input class="form-control input-circle-right" type="email"
                               ng-model="vm.survey.answerGroups[9].answerText[0]"
                               placeholder="{{ 'USERS.EMAIL' | translate }}">
                    </div>
                    <span class="help-block" ng-class="{'help-block-error': vm.wrongEmail }">{{ 'LOGIN.EMAILERR' | translate }}</span>
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': form.phone.$invalid && form.phone.$touched, 'has-success': form.phone.$valid}">
                <label for="phone" class="hint control-label col-md-3">{{ 'LOGIN.PHONE' |
                    translate }}</label>

                <div class="input-icon col-md-4">
                    <input type="text" name="phone" id="phone"
                           class="form-control form-control-solid placeholder-no-fix form-group form-control input-circle"
                           required ng-intl-tel-input data-default-country="ua"
                           ng-model="vm.survey.answerGroups[11].answerText[0]"/>
                    <!--<input value="+1" type="tel" international-phone-number auto-hide-dial-code="false" class="phone" name="phoneCountryCode" ng-model="phone" required>-->
                                            <span ng-show="form.phone.$dirty && form.phone.$error.required"
                                                  class="help-block">{{ 'LOGIN.CHECKPHONE' | translate }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'LOGIN.PASS' | translate }}</label>

                <div class="col-md-4">
                    <div class="input-group">
                        <input class="form-control input-circle-left" type="password"
                               ng-model="vm.survey.answerGroups[10].answerText[0]"
                               placeholder="{{ 'LOGIN.PASS' | translate }}">
                                                                    <span class="input-group-addon input-circle-right">
                                                                        <i class="fa fa-user"></i>
                                                                    </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ 'USERS.CONFIRMATION' | translate
                    }}</label>

                <div class="col-md-4" ng-class="{ 'has-error': vm.wrongPass }">
                    <input class="form-control input-circle" type="password" ng-model="vm.pass"
                           placeholder="{{ 'LOGIN.PASS' | translate }}">
                    <span class="help-block" ng-class="{'help-block-error': vm.wrongPass }">{{ 'LOGIN.PASSNOTFIT' | translate }}</span>
                </div>
            </div>
        </div>

    </form>
</div>
