<div class="tab-pane active" ng-if="vm.step == 5">
    <div class="portlet light bordered form-fit">
        <div class="portlet-title">
            <div class="confirm-caption">{{ 'SURVEY-HEADERS.ACCOUNT' | translate }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 form-group right">{{'LOGIN.NAME' | translate}}</div>
        <div class="col-md-7 form-group">{{vm.survey.answerGroups[8].answerText[0]}}</div>
    </div>
    <div class="row">
        <div class="alert alert-danger" ng-if="vm.check5">
            <span class="glyphicon glyphicon-remove"></span>
            {{ 'USERS.EXISTUSER' | translate }}
        </div>
        <div class="col-md-5 form-group right">{{'LOGIN.EMAIL' | translate}}</div>
        <div class="col-md-7 form-group">{{vm.survey.answerGroups[9].answerText[0]}}</div>
    </div>
    <div class="portlet light bordered form-fit">
        <div class="portlet-title">
            <div class="confirm-caption">{{ 'SURVEY-HEADERS.STEP2' | translate }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 form-group right">{{'SURVEY-HEADERS.PURPOSE' | translate}}</div>
        <div class="col-md-7 form-group">{{vm.survey.answerGroups[0].answerText[0] | translate
            }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-5 form-group right">{{'SURVEY-HEADERS.TARGETWEIGHT' | translate}}
        </div>
        <div class="col-md-7 form-group">{{vm.survey.answerGroups[1].answerText[0]}}<span>&nbsp;{{ 'UNITS.KG' | translate }}</span>
        </div>
    </div>
    <div class="portlet light form-fit">
        <div class="portlet-title">
            <div class="confirm-caption">{{ 'SURVEY-HEADERS.STEP3' | translate }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 form-group right">{{'SURVEY-HEADERS.GENDER' | translate}}</div>
        <div class="col-md-7 form-group">{{vm.survey.answerGroups[2].answerText[0] | translate
            }}
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-5 form-group right">{{'SURVEY-HEADERS.BIRTHDAY' | translate}}</div>
        <div class="col-md-7 form-group">{{vm.survey.answerGroups[3].answerText[0]}}</div>
    </div>
    <div class="row form-group">
        <div class="col-md-5 form-group right">{{'SURVEY-HEADERS.WEIGHT' | translate}}</div>
        <div class="col-md-7 form-group">{{vm.survey.answerGroups[4].answerText[0]}}<span>&nbsp;{{ 'UNITS.KG' | translate }}</span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-5 form-group right">{{'SURVEY-HEADERS.HEIGHT' | translate}}</div>
        <div class="col-md-7 form-group">{{vm.survey.answerGroups[5].answerText[0]}}<span>&nbsp;{{ 'UNITS.CM' | translate }}</span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-5 form-group right">{{'SURVEY-HEADERS.ACTIVITY' | translate}}</div>
        <div class="col-md-7 form-group">{{vm.survey.answerGroups[6].answerText[0] | translate
            }}>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-5 form-group right">{{'SURVEY-HEADERS.TEST' | translate}}</div>
        <div class="col-md-7 form-group">{{vm.survey.answerGroups[7].answerText[0] | translate
            }}
        </div>
    </div>
</div>
