$modal-btn: #e9ecf3;
/* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
.select-box {
  background: #fff;
  position: relative;
  z-index: 1;
}

.alert-info.positioned {
  margin-top: 1em;
  position: relative;
  z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
}
.input-margin {
  margin: 20px 0;
}
.canal {
  font-size: 92%;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  padding: 0;
  margin: 0;
  border: none;
  display: inline-block;
  text-align: center;
}
.modal {
  &.open {
    display: block
  }
}
  .fade {
    &.open {
    opacity: 1;
  }
}
  .modal-dialog {
    &.close {
      display: none;
    }
    top: 70px;
    right: 20px;
    position: fixed;
    z-index: 10;
    .glyphicon-remove {
      color: $modal-btn;
      font-size: 15px;
    }
    .btn-close {
      float: right;
      border: none;
      background: transparent;
    }
    .pagination {
      margin: 0 0 10px 0;
    }
    .alert-block {
      cursor: pointer;
    }
  }
  .time-span {
    .fa-close {
      cursor: pointer;
    }
  }


